.form-container{
    margin-left:40%;
    margin-top:10%;
    background-color:#e6f9ff;
    position:absolute;
    border: 15px solid  #ccf2ff;
    min-height: 35%;  
    min-width: 30%;
}
#root{
    display: flex;
flex-direction: column;
justify-content: center;
padding: 5px;

}
input{
    padding:8px;
    margin-bottom: 10px;
}
.button_container{
    margin-top:10%;
}
#login{
    width: 100%;
    padding:8px;
}
.signUp-page{
    margin-top: 25px;
}
#form_header_container{
    display:flex;
    justify-content:center;
}