#content_container{
    margin-left:40%;
    margin-top:10%;
    background-color:#e6f9ff;
    position:absolute;
    border: 15px solid  #ccf2ff;
    min-height: 55%;  
    min-width: 30%;
}
#form_header_container{
    display: flex;
    justify-content: center;
}
#form_content_inner_container{
display: flex;
flex-direction: column;
justify-content: center;
padding:5px;
}
.login-page{
    padding:10px;
}
#button_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

#reset,#register{ 
    padding: 7px;
    
    margin-bottom:10px;
}
input{
    padding: 10px;
    margin-bottom: 10px;
    border: 0px solid  #ccf2ff;

}
.input-radio{
    margin-top: 5%;
}
#button_container{
    margin-top: 5%;

}